# Database connection
# Connect to SQL Server
DATABASE_URL="sqlserver://localhost:1433;database=acchm;user=sa;password=yourStrong(!)Password;encrypt=true;trustServerCertificate=true"

# Authentication secret
NEXTAUTH_SECRET=changeme

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
